.customContainer {
    max-height: 30px;
    overflow: hidden;
  }
  
  .show {
    overflow: visible;
    max-height: fit-content;
  }

  a.disabled {
    pointer-events: none;
    cursor: not-allowed; 
}