.customContainer {
    max-height: 30px;
    overflow: hidden;
  }
  
  .showquestion {
    overflow: visible;
    max-height: fit-content;
  }

  a.disabled {
    pointer-events: none;
    cursor: not-allowed; 
}

.alertDanger{
  color:rgb(235, 61, 61);
  text-align: left;
}
