
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Main content -->
          <div class="content p-4">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-header p-4">
                                  <div class="row">
                                      <div class="col-md-3">
                                          <h3 class="card-title mt-2"><a href=""><i class="fa fa-angle-left mr-2"></i> Create Rubric</a></h3>
                                      </div>

                                      <div class="col-md-9 text-right">
                                          <a href="" class="skip-btn" data-toggle="modal" data-target="#fetch-rubic">Fetch Rubric</a>
                                          <a href="" data-toggle="modal" data-target="#noun">noun</a>
                                          <a href="" data-toggle="modal" data-target="#rubic-preview">preview</a>
                                      </div>
                                  </div>
                              </div>
                              <div class="card-body pt-0">
                                  <div class="questions border-0">
                                      <div class="hd font-weight-bold mb-2">Question
                                          <div class="float-right">
                                              <a href="" class="close-intro"><img src="src/test-admin1-assets/img/author-icons/tag-icon.svg" alt=""></a>
                                          </div>
                                      </div>
                                      <p>1. Lorem ipsum dolor sit amet, consec adipiscing At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis adipiscing praesentium voluptatum deleniti atque corrupti quos dolores et quas moles excepturi
                                          sint occaecati cupiditate tempo dignissimos... </p>
                                      <p class="text-right"><a href="" class="take-test">View More</a></p>

                                      <div class="instru-wrap">
                                          <div class="ttl">Instructions</div>
                                          <a class="close close-intro" href="javascript:void(0)">
                                              <img src="src/test-admin1-assets/img/author-icons/close-icon.svg" alt="">
                                          </a>
                                          <p>Lorem ipsum dolor sit amet, consec adipiscing At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis adipiscing praesentium voluptatum deleniti atque corrupti quos dolores et quas moles excepturi
                                              sint occaecati cupiditate.</p>
                                          <p>SCORA allows you to create your own customised Rubric for a question Item that requires manual scoring (Free Text: Descriptive and Fill-in and Upload Item Types) using a table. Use the Rows to create as many
                                              criteria as you need and columns to define proficiency levels under each criterion. Define the Points to be awarded for each level, moving from lowest level in the first column to the highest level in the
                                              last column. Click on ‘+’ and ‘-‘ icons to add or delete rows and columns, as required.</p>
                                          <p>SCORA encourages reusability of Rubrics to save you time. You can clone Rubrics or create different versions by making minor changes to an existing Rubric and use it for a different Item or for the same Item
                                              in a different context/Test. Add unique Keywords for each Rubric that will help users search and retrieve relevant Rubrics.</p>
                                      </div>
                                  </div>

                                  <div class="create-table">
                                      <div class="border-bottom">
                                          <table class="rubic-table">
                                              <thead>
                                                  <tr>
                                                      <th>Max Points: 0.00</th>
                                                      <th><span class="grey font-14">Column header 1</span></th>
                                                      <th class="relative">
                                                          <a href="" class="add-row"><img src="src/test-admin1-assets/img/author-icons/add-icon.svg" alt=""></a>
                                                          <span class="grey font-14">Column header 2</span>
                                                          <a href="" class="delete-row"><img src="src/test-admin1-assets/img/author-icons/minus-icon.svg" alt=""></a>
                                                      </th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td rowspan="2"><span class="grey font-14 text-center d-block">Row header 1</span></td>
                                                      <td><br /> <br /></td>
                                                      <td><br /> <br /></td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <div class="points">
                                                              <span class="left">Points</span>
                                                              <span class="right"><input type="text" class="form-control"></span>
                                                          </div>
                                                      </td>
                                                      <td>
                                                          <div class="points">
                                                              <span class="left">Points</span>
                                                              <span class="right"><input type="text" class="form-control"></span>
                                                          </div>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td rowspan="2"><span class="grey font-14 text-center d-block">Row header 2</span></td>
                                                      <td><br /> <br /></td>
                                                      <td class="relative">
                                                          <a href="" class="add-col"><img src="src/test-admin1-assets/img/author-icons/add-icon.svg" alt=""></a>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <div class="points">
                                                              <span class="left">Points</span>
                                                              <span class="right"><input type="text" class="form-control"></span>
                                                          </div>
                                                      </td>
                                                      <td class="relative">
                                                          <div class="points">
                                                              <span class="left">Points</span>
                                                              <span class="right"><input type="text" class="form-control"></span>
                                                          </div>
                                                          <a href="" class="delete-col"><img src="src/test-admin1-assets/img/author-icons/minus-icon.svg" alt=""></a>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                      <div class="pad24">
                                          <input type="text" class="form-control border-red" placeholder="Type keywords" style="width: calc(100% - 320px); margin-right: 15px; float: left;">
                                          <input type="text" class="form-control" value="V2.1" placeholder="Type keywords" style="max-width:305px; float: left; background-color: var(--secound);">
                                          <div class="clearfix"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- /.card -->
                      </div>
                      <div class="col-lg-12">
                          <div class="card">
                              <div class="card-body pl-3 pr-3">
                                  <a href="" class="skip-btn">Cancel</a>
                                  <a href="" class="default-btn float-right">Save</a>
                              </div>
                          </div>
                          <!-- /.card -->
                      </div>
                  </div>
                  <!-- /.row -->
              </div>
              <!-- /.container-fluid -->
          </div>
          <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->