.viewAll{
    // background: #fafafa;
    padding: 0px;
}
.rightcolumn{
	background: #fff;
	display: inline-flex;
	width:100%;
	margin-bottom: -9px;
}
.itemSetHead12{
    padding: 10px 13px;
    font-size: 14px;
    margin-bottom: 0px;
    /* margin-top: 5px; */
    width: 122%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6509803921568628);
}


.setion_wise_Item{
	height: 520px;
    overflow: auto;
	width: auto;
    // background: #fafafa;
    // margin-bottom: 26px;
}
.eachQuesBorder{
	border: 1px solid #fff;
	border-left-color: rgba(0,174,217,0.5);
	border-left-width: 4px;
	margin-bottom: 4px;
}
hr {
	// border: 1px solid #e8eaec;
    margin-bottom: 1px;
    margin-top: 11px!important;
}
.shadow{
	// box-shadow: 1px 2px 11px grey;
	border: 1px solid #fff;
	border-left-color: #00aed9!important;
	border-left-width: 4px;
	background: rgba(0, 174, 217, 0.1);
}
.eachSection{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 33px;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 6px;
    margin-top: 6px;
    font-size: 13px;
    line-height: 1.7;
}
.class4{
    height: 100% !important;
    display: block !important;
	
}
.hideAnswer{
    display: none;
    margin-top: 10px;
}
.correct_options_block_TF_viewItem{
    width: 117px;
    padding: 0px 11px;
}
.correct_radio_button_TF{
    margin: 10px auto;
  }
  .textClr{
	color:#00aed9;
}
.viewIcons{
	font-size: 11px;
    float: right;
    padding: 0px 8px;
}
.display_margin1{
    margin-bottom: 12px;
}
.header-margin{
    margin-left: 43px;
}
.previewMatchStmt{
    width: 199px;
    word-wrap: break-word;
  }
  .previewMatchStmtList{
    width: 132px;
    word-wrap: break-word;
  }
  .matchRight{
    margin-right: 0px !important;margin-left: 0px !important;
}
.direcBlk{
    border: 1px solid silver;
    padding: 0px 25px;
}
.matchLeft{
    margin-right: 10px;margin-left: 26px;
}
.match_margin{
	margin-top:-3px;margin-bottom: 7px;
}
.extraOption{
	margin-left: 253px;
    margin-top: -13px !important;
}
.attrAccordion{
	color: #fff;
	background: #e8eff6;
}
.attrHead{
	background:#68717a;
	 position: relative;
  display: block;
  padding: 8px 12px;
	  height: 40px;
}
.lists{
    color: #000;
    margin-left: 41px;
    height: 520px;
    overflow: auto;
    margin-top: 20px;
}
.displayMargin{
    margin-bottom: 2px;
}
.labelWidth {
    width: 145px;
    word-break: break-word;
    word-wrap: break-word;
    text-align: right;
    vertical-align: text-top;
}
.labelWidth1{
    width: 146px;
    word-wrap: break-word;
    vertical-align: text-top;
}
.headMargin_left{
	margin-right: 2px;margin-left: 26px;
}

//scroll
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
 
::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 2px;
    background: darkgray;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: grey;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.imageShowHeight{
    height: 138px;
}
.filterIconSearch{
    font-size: 12px;
    /* margin-top: 8px; */
    color: #00aed9;
    padding: 10px 11px;
}
.searchLabel{
    padding: 9px 3px;
    font-size: 14px;
    margin-bottom: 0px;
}
.ClearLabel{
    margin-top: 7px;
    font-size: 14px;
    color: #00aed9;
    text-decoration: underline; 
}
.alertSearch{
	border-color: #fa0404;
}

.pendingItem{
    border-left-color: rgba(217, 20, 0, 0.72) !important;
}

.showAudioHeight{
    height: 69px;
}

.showVideoHeight{
    height: 146px;  
}


.successMsg{
   
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 83px;
    margin-right: auto;
    margin-left: auto;
    // min-height: 200px;
    // width: 90%;
    max-width: 257px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    text-align: center;
    letter-spacing: 1px;
    background: #00aed9;
    color: #fff;
    font-size: 14px;
}

//delete popup
.deleteItemPopupCss{
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 20px;
    margin-right: auto;
    margin-left: auto;
    min-height: 149px;
    width: 20%;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
    .deleteItemPopupCss {
      top: 106px;
    }
  }

  .overlay_edit {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
 
  .formAlign{
    margin-top: 18px;
}
.saveBtn{
    text-align: center;
    margin-top: 22px;
    margin-bottom: 9px;
}
.creategrpBtn{
    padding: 2px 6px;
    font-size: 14px;
    cursor: pointer;
    width: 62px;
    margin: 0px 7px;
}

.disableDelete{
    // pointer-events: none;
    opacity: 0.6;
}
.disableEdit{
    // pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}
.dialog__close-btn {
    border: 0;
    background: none;
    color: #fff;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.2em;
    cursor: pointer;
  }
  .modalHead{
    padding: 7px;
    text-align: center;
    margin: 0px;
    width: 100%;
  }
  .noItemcss{
    margin-bottom: 0px;
    text-align: center;
    margin: 12px 0px;
    opacity: 0.7;
  }

  .questionNumberAlign{
    float: left;
    margin-bottom: 0px;
  }

  .modal-header{
    padding: 0px 0px !important;
    background: #68717a;
    color: white;
  }

  button.close {
    padding: 8px;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    color: white;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 3px;
}

// list css
.listLablePreview1{
    text-align: right;
    font-weight: bold;
}
.listEltTxt{
    margin-top: 0.5rem;
}
.listLabelDotPrev{
    font-size: 44px;
    line-height: 0.2px;
    margin: -4px;
}
.ListImageSizePrev{
    width: auto;
    height: 100px;
    margin: 5px 0px;
}
.ListVideoSizePrev{
    height: 100px;
    width: 200px;
    margin: 5px 0px;
}
.ListAudioSizePrev{
    margin: 5px 0px;
}


// table css
.tableHeadType{
    background: powderblue !important;
    font-weight: bold;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.tblField{
    border:none !important;
    text-align: center;
    padding: 4px 1px !important;
}
.tblField:focus{
    box-shadow: none !important;
}
.table td{
    padding: 8px 9px;
    text-align: center;
    word-break: break-word;
}
// fileupload css
.DescMArgin{
    margin: 4px 0px;
    word-break: break-all;
}
.DescseqMArgin{
    text-align: right;
    margin: 0px;
    line-height: 2.5;
}
.infoList{
    display: inline-flex;
    color: #000;
    // overflow-x: scroll;
    width: 100%;
}
.infoName{
    padding: 8px 32px;
    // border: 1px solid #e8eff6;
    // border-bottom-color: #00aed9;
    // border-bottom-width: 2px;
  cursor: pointer;
  border: 1px solid #e8eff6;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
  flex: 1;
  display: flex;
  /* text-align: center; */
  justify-content: center;
}
.activeTabClass{
    border: 1px solid #e8eff6;
    border-bottom-color: #00aed9;
  border-bottom-width: 2px;
  background: #e8eff6 !important;
}
