
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <div class="content p-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header p-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="card-title">
                                        <a ><img src="src/assets/test-admin1-assets/img/author-icons/back-arrow.svg" alt=""> JEE TEST</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="pad24 border-bottom">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="labels">Blueprint Name</label>
                                                <input type="text" class="form-control" value="JEE Test">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="labels">Item Date Range</label>
                                                <input type="text" class="form-control" value="From 04-NOV-21 To 14-NOV-21">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="labels">Total Marks</label>
                                                <input type="text" class="form-control" value="100">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="labels">Pass Marks</label>
                                                <input type="text" class="form-control" value="34">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="accordion schema-accord" id="accordionExample">
                                        <!-- accordion 1 -->
                                        <div class="card-header accord" id="headingOne" data-toggle="collapse" data-target="#collapseOne">
                                            <span class="font16">Section 1 </span>
                                            <i class="fa fa-angle-up"></i>
                                        </div>
                                        <div id="collapseOne" class="accord-body collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="labels">Section Name</label>
                                                        <input type="text" class="form-control" value="Basic">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="labels">Duration</label>
                                                        <input type="text" class="form-control" value="02:00">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="labels">Max Marks</label>
                                                        <input type="text" class="form-control" value="100">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="labels">Min Marks</label>
                                                        <input type="text" class="form-control" value="34">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="custom-table v-top border">
                                                            <thead>
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th>Subject(s)</th>
                                                                    <th>Topic(s)</th>
                                                                    <th>Bloom's Taxonomy</th>
                                                                    <th>Item Type</th>
                                                                    <th>Difficulty</th>
                                                                    <th>No. of Items</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>English</td>
                                                                    <td>Coding-Decoding</td>
                                                                    <td>Knowledge</td>
                                                                    <td>True/False</td>
                                                                    <td>Easy</td>
                                                                    <td>2</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2</td>
                                                                    <td>English</td>
                                                                    <td>Coding-Decoding</td>
                                                                    <td>Knowledge</td>
                                                                    <td>True/False</td>
                                                                    <td>Easy</td>
                                                                    <td>2</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>3</td>
                                                                    <td>English</td>
                                                                    <td>Coding-Decoding</td>
                                                                    <td>Knowledge</td>
                                                                    <td>True/False</td>
                                                                    <td>Easy</td>
                                                                    <td>2</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pad24">
                            <div class="view-item">
                                <ul class="nav nav-tabs float-left shadow-none" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#subject" role="tab" aria-controls="subject" aria-selected="true">Section 1 - Basic</a>
                                    </li>
                                </ul>
                                <div class="float-right mt-3 mr-2">
                                    <label class="labels mr-2">Item Type</label>
                                    <select class="select">
                                        <option value="">All</option>
                                    </select>
                                </div>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="subject" role="tabpanel" aria-labelledby="subject-tab">
                                        <div class="table-responsive">
                                            <table class="custom-table v-top">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Items</th>
                                                        <th>Item Type</th>
                                                        <th>Rubric</th>
                                                        <th>Item</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Lorem ipsum dolor sit amet, consec adipiscing At vero eos et accusamus et iusto odio dignissimos</td>
                                                        <td>File Upload</td>
                                                        <td>
                                                            <a  data-toggle="modal" data-target="#create-rubric"><img src="src/assets/test-admin1-assets/img/author-icons/rubric-bg.svg" alt="" srcset=""></a>
                                                        </td>
                                                        <td>
                                                            <a ><img src="src/assets/test-admin1-assets/img/author-icons/view-icon.svg" alt="" srcset=""></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Lorem ipsum dolor sit amet, consec adipiscing At vero eos et accusamus et iusto odio dignissimos</td>
                                                        <td>Match::AnswerPool</td>
                                                        <td>
                                                            <span class="grey">N/A</span>
                                                        </td>
                                                        <td>
                                                            <a ><img src="src/assets/test-admin1-assets/img/author-icons/view-icon.svg" alt="" srcset=""></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Lorem ipsum dolor sit amet, consec adipiscing At vero eos et accusamus et iusto odio dignissimos</td>
                                                        <td>Free Text::Fill-In</td>
                                                        <td>
                                                            <a ><img src="src/assets/test-admin1-assets/img/author-icons/views.svg" alt="" srcset=""></a>
                                                        </td>
                                                        <td>
                                                            <a ><img src="src/assets/test-admin1-assets/img/author-icons/view-icon.svg" alt="" srcset=""></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Lorem ipsum dolor sit amet, consec adipiscing At vero eos et accusamus et iusto odio dignissimos</td>
                                                        <td>Free Text::Fill-In</td>
                                                        <td>
                                                            <a ><img src="src/assets/test-admin1-assets/img/author-icons/rubric-bg.svg" alt="" srcset=""></a>
                                                        </td>
                                                        <td>
                                                            <a ><img src="src/assets/test-admin1-assets/img/author-icons/view-icon.svg" alt="" srcset=""></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Lorem ipsum dolor sit amet, consec adipiscing At vero eos et accusamus et iusto odio dignissimos</td>
                                                        <td>Free Text::Fill-In</td>
                                                        <td>
                                                            <span class="grey">N/A</span>
                                                        </td>
                                                        <td>
                                                            <a ><img src="src/assets/test-admin1-assets/img/author-icons/view-icon.svg" alt="" srcset=""></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>Lorem ipsum dolor sit amet, consec adipiscing At vero eos et accusamus et iusto odio dignissimos</td>
                                                        <td>Free Text::Fill-In</td>
                                                        <td>
                                                            <span class="grey">N/A</span>
                                                        </td>
                                                        <td>
                                                            <a ><img src="src/assets/test-admin1-assets/img/author-icons/view-icon.svg" alt="" srcset=""></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="pagination-custom mb-4">
                                                <ul>
                                                    <li>
                                                        <a  class="disable"><i class="fa fa-angle-left"></i></a>
                                                    </li>
                                                    <li>
                                                        <a >1</a>
                                                    </li>
                                                    <li>
                                                        <a >2</a>
                                                    </li>
                                                    <li>
                                                        <a  class="active">3</a>
                                                    </li>
                                                    <li>
                                                        <a >4</a>
                                                    </li>
                                                    <li>
                                                        <a >5</a>
                                                    </li>
                                                    <li>
                                                        <a >6</a>
                                                    </li>
                                                    <li>
                                                        <a ><i class="fa fa-angle-right"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

