<app-loader *ngIf="showload"></app-loader>
<div class="wrapper">
    <div class="full-width">
   <!-- Navbar -->
   <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a  class="logo">
                            <img src="src/assets/img/scora-icon.png" alt="scora Logo" class="brand-image">
                            <span class="brand-text font-weight-light"><img src="src/assets/img/admin-img/scora-beta.svg" alt="" class="img-fluid"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6" *ngIf = "universityall">
                <!-- Right navbar links -->
                <div class="profile-menu dropdown mt-2">
                    <a data-toggle="dropdown"  aria-expanded="true">
                        <div class="profile-blk">
                            <figure>
                                <figure>
                                    <img height="40px" class="mr-2" [src]="universityall.profile_picture" onError="this.onerror=null;this.src='../../assets/img/userProfile.png';" alt="">
                                </figure>
                            </figure>
                            <div class="text">
                                <div class="name">{{universityall.profile_name }}</div>
                                <div class="email">{{universityall.profile_email}}</div>
                            </div>
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right uk-border-rounded border-0">
                        <!-- <div class="profile-link">
                          <a>
                            <img src="src/assets/img/user-icon.png" alt="" class="user-icon">
                            <span >My Organization(s)</span>
                          </a>
                        </div> -->
                        <span class="my-org">My Organizations</span>
                        <ul class="org">
                          <li *ngFor="let university of universityall?.available_organization; let i=index" class="university-details"
                            [ngClass]="{'university-details-highlight':userOrgId == university.org_id}"
                            (click)="nextOrganisation(university.org_id)">
                            <figure>
                              <img [src]="university.organization_img"
                                onError="this.onerror=null;this.src='../../assets/img/scoralogo.png';"
                                style="float: left; max-width: 85px;margin: 11px 5px;" alt="">
                            </figure>
                            <div class="cont">
                              <div class="name">{{university.organization_name}}</div>
                              <a *ngFor="let adminame of university.organization_roles">{{adminame}}</a>
                            </div>
                          </li>
                        </ul>
                        <a  class="sign-out"><img src="src/assets/img/sign-out-icon.svg" class="mr-2"><span (click)="logout()">Sign Out</span></a>
                      </div>
                </div>
            </div>
        </div>
    </div>

</nav>
<!-- /.navbar -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <div class="content p-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card select-theme">
                        <div class="card-header p-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="card-title">Branding and Personalization</h3>
                                </div>
                                <div class="col-md-6">
                                    <div class="steps step2">
                                        <ul>
                                            <li class="active"><span>1</span></li>
                                            <li><span>2</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <div class="form-group mb-5">
                                        <label class="labels">Upload logo</label>
                                        <input type="file" (change)="onImageUpload($event)" name="" id="" class="form-control file-field">
                                    </div> -->
                                    <div class="form-group">
                                        <label>Upload logo</label>
                                        <div class="custom-files">
                                            <input (change)="onImageUpload($event)" placeholder="Please select your logo and upload here" type="file" name="" id="">
                                            <div class="file-chose">
                                                <span *ngIf="!fileOriginalName">Please select your logo and upload here</span>
                                                <span>{{fileOriginalName}}</span>
                                                <span class="upload">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             <!-- api issue hence using 'Null' -->
                                <div class="col-md-6">
                                  
                                    <div *ngIf="uploadText" class="upload-text">
                                        <p><span>Dimensions:</span> 500 px X 500 px</p>
                                        <p><span>File type allowed:</span> jpeg, jpg, png.</p>
                                        <p>Files beyond 5MB cannot be uploaded.</p>
                                    </div>
                                    <div class="form-group upload-msg">
                                        <a (click)="deleteIcon()" class="float-left mr-2 ml-2" *ngIf = "uploadedsuccessfully"><img src="src/assets/img/admin-icons/delete-icon.svg" /></a>    
                                        <div class="float-left scan" *ngIf = "virusScanning == true" ><img src="src/assets/img/scan-loader.png" alt=""> <span>Scanning for Viruses.</span></div>
                                        <div class="float-left virus" *ngIf="virus" ><img src="src/assets/img/virus.png" alt=""> <span>Your file is infected. Please clean-up, quarantine and attempt upload again.</span></div>
                                        <div class="float-left virus" *ngIf="size" ><img src="src/assets/img/virus.png" alt=""> <span>Selected file size is beyond 5MB.</span></div>
                                        <div class="float-left virus" *ngIf="extension" ><img src="src/assets/img/virus.png" alt=""> <span>File type allowed only:jpeg, jpg, png.</span> </div>
                                        <div class="float-left suc-upload" *ngIf = "virusScanning == false && extension == false && size== false && virus == false" ><img src="src/assets/img/suc-upload.png" alt=""> <span>Scanning for Viruses</span></div>
                                        <div class="float-left suc-upload" *ngIf = "uploadedsuccessfully"><img src="src/assets/img/suc-upload.png" alt=""> <span>Successfully Uploaded!</span></div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="labels">Select a theme as per your brand
                                                colours</label>
                                            <div class="row">
                                                <div class="col-md-4"
                                                    *ngFor="let color of tenantDetails?.tenant_themes">
                                                    <div class="theme-choose">
                                                        <div class="name-wrap">
                                                            <div class="name">{{color.display_theme_name }}
                                                                <!-- <div class="selected float-right mt-2">
                                                                <span></span>
                                                            </div> -->
                                                                <div class="float-right">
                                                                    <div class="custom-radio">
                                                                        <input type="radio" (click)="changeTheme(color.theme_id)"
                                                                            [checked]="color.current_active == true"
                                                                            name="color-pallet" id="">
                                                                        <div class="radio mr-0">
                                                                            <div class="check"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <figure  class="color-pallet">
                                                            <div [ngStyle]="{'background':color.default_brand_color,'border-color':color.default_brand_color}"
                                                                class="theme-clr"></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="labels">Preview</label>
                                            <figure class="theme-preview" *ngIf="universityall">
                                                <div class="logo-prev">
                                                <ng-container *ngIf = "tenantDetails.tenant_logo == null">
                                                    <img src="src/assets/img/newlogo.png" class="img-fluid">
                                                </ng-container>
                                                   <ng-container *ngIf = "tenantDetails.tenant_logo != null"> 
                                                   <img  src={{tenantDetails.tenant_logo}}   class="img-fluid">
                                                   </ng-container>
                                                </div>
                                                <div class="profile-prev">
                                                    <div *ngIf="universityall" class="profile-blk">
                                                        <figure>
                                                            <img [src]="universityall.profile_picture" onError="this.onerror=null;this.src='../../assets/img/userProfile.png';" alt="" class="img-fluid">
                                                        </figure>
                                                        <div class="text">
                                                            <div class="name">{{universityall.profile_name}}</div>
                                                            <div class="email">{{universityall.profile_email}}</div>
                                                        </div>
                                                        <i class="fa fa-angle-down"></i>
                                                    </div>
                                                </div>
                                                <ng-container *ngIf="org_themes && org_themes.themename == 'theme1'">
                                                    <img src="src/assets/img/Default-Theme.png" alt=""
                                                        class="img-fluid">
                                                </ng-container>
                                                <ng-container *ngIf="org_themes && org_themes.themename == 'theme2'">
                                                    <img src="src/assets/img/Midnight-Theme.png" alt=""
                                                        class="img-fluid">
                                                </ng-container>
                                                <ng-container *ngIf="org_themes && org_themes.themename == 'theme3'">
                                                    <img src="src/assets/img/Ocean-Theme.png" alt="" class="img-fluid">
                                                </ng-container>
                                                <ng-container *ngIf="org_themes && org_themes.themename == 'theme4'">
                                                    <img src="src/assets/img/Forest-theme.png" alt="" class="img-fluid">
                                                </ng-container>
                                                <ng-container *ngIf="org_themes && org_themes.themename == 'theme5'">
                                                    <img src="src/assets/img/Cream-Theme.png" alt="" class="img-fluid">
                                                </ng-container>
                                                <ng-container *ngIf="org_themes && org_themes.themename == 'theme6'">
                                                    <img src="src/assets/img/Coffee-Theme.png" alt="" class="img-fluid">
                                                </ng-container>
                                                <ng-container *ngIf="org_themes && org_themes.themename == 'theme7'">
                                                    <img src="src/assets/img/Tea-Theme.png" alt="" class="img-fluid">
                                                </ng-container>
                                                <ng-container *ngIf="org_themes && org_themes.themename == 'theme8'">
                                                    <img src="src/assets/img/Cherry-Theme.png" alt="" class="img-fluid">
                                                </ng-container>
                                                <ng-container *ngIf="org_themes && org_themes.themename == 'theme9'">
                                                    <img src="src/assets/img/Fruity-Theme.png" alt="" class="img-fluid">
                                                </ng-container>

                                            </figure>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <a  [routerLink]="['/select-timezone']" class="default-btn">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</div>
</div>
<simple-notifications></simple-notifications>