
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary side-panel">
            <!-- Brand Logo -->
            <a href="index3.html" class="logo">
                <img src="dist/img/scora-logo/scora-icon.svg" alt="scora Logo" class="brand-image">
                <span class="brand-text font-weight-light"><img src="dist/img/scora-logo/scora-beta-logo.svg" alt="" class="img-fluid" style="max-width: 110px;"></span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">


                <!-- Sidebar Menu -->
                <nav>
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="link-head">
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <path d="M8.25 3H3C2.60217 3 2.22064 3.15804 1.93934 3.43934C1.65804 3.72064 1.5 4.10217 1.5 4.5V15C1.5 15.3978 1.65804 15.7794 1.93934 16.0607C2.22064 16.342 2.60217 16.5 3 16.5H13.5C13.8978 16.5 14.2794 16.342 14.5607 16.0607C14.842 15.7794 15 15.3978 15 15V9.75" stroke="#0E497A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.875 1.87493C14.1734 1.57656 14.578 1.40894 15 1.40894C15.422 1.40894 15.8266 1.57656 16.125 1.87493C16.4234 2.17329 16.591 2.57797 16.591 2.99993C16.591 3.42188 16.4234 3.82656 16.125 4.12493L9 11.2499L6 11.9999L6.75 8.99993L13.875 1.87493Z" stroke="#0E497A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </i>
                            <span>ITEM BANKING</span>
                        </li>
                        <li class="nav-item">
                            <a href="upcoming-test.html" class="nav-link">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path d="M2.25 6.75L9 1.5L15.75 6.75V15C15.75 15.3978 15.592 15.7794 15.3107 16.0607C15.0294 16.342 14.6478 16.5 14.25 16.5H3.75C3.35218 16.5 2.97064 16.342 2.68934 16.0607C2.40804 15.7794 2.25 15.3978 2.25 15V6.75Z" stroke="#0E497A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M6.75 16.5V9H11.25V16.5" stroke="#0E497A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </i>
                                <p>
                                    Home
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="upcoming-test.html" class="nav-link">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path d="M7.5 2.25H2.25V7.5H7.5V2.25Z" stroke="#3C4E5D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M15.75 2.25H10.5V7.5H15.75V2.25Z" stroke="#3C4E5D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M15.75 10.5H10.5V15.75H15.75V10.5Z" stroke="#3C4E5D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M7.5 10.5H2.25V15.75H7.5V10.5Z" stroke="#3C4E5D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </i>
                                <p>
                                    Scora Insights
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="dashboard.html" class="nav-link ">
                                <i>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.5 1.5H4.5C4.10218 1.5 3.72064 1.65804 3.43934 1.93934C3.15804 2.22064 3 2.60218 3 3V15C3 15.3978 3.15804 15.7794 3.43934 16.0607C3.72064 16.342 4.10218 16.5 4.5 16.5H13.5C13.8978 16.5 14.2794 16.342 14.5607 16.0607C14.842 15.7794 15 15.3978 15 15V6L10.5 1.5Z" stroke="#3C4E5D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M10.5 1.5V6H15" stroke="#3C4E5D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </i>
                                <p>
                                    Create Items
                                    <!-- <i class="right fas fa-angle-left"></i> -->
                                </p>
                            </a>
                            <!-- <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="./index.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Dashboard v1</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index2.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Dashboard v2</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index3.html" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Dashboard v3</p>
                                    </a>
                                </li>
                            </ul> -->
                        </li>

                        <li class="nav-item">
                            <a href="test-history.html" class="nav-link">
                                <i>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 1.5H4.5C4.10218 1.5 3.72064 1.65804 3.43934 1.93934C3.15804 2.22064 3 2.60218 3 3V15C3 15.3978 3.15804 15.7794 3.43934 16.0607C3.72064 16.342 4.10218 16.5 4.5 16.5H13.5C13.8978 16.5 14.2794 16.342 14.5607 16.0607C14.842 15.7794 15 15.3978 15 15V6L10.5 1.5Z" stroke="#3C4E5D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10.5 1.5V6H15" stroke="#3C4E5D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M6.75 11.25H11.25" stroke="#3C4E5D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>                                        
                                </i>
                                <p>
                                    Manage Items
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="test-history.html" class="nav-link">
                                <i>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.4425 10.0575L10.065 15.435C9.92569 15.5745 9.76026 15.6851 9.57816 15.7606C9.39606 15.8361 9.20087 15.8749 9.00375 15.8749C8.80663 15.8749 8.61144 15.8361 8.42934 15.7606C8.24724 15.6851 8.08181 15.5745 7.9425 15.435L1.5 9V1.5H9L15.4425 7.9425C15.7219 8.22354 15.8787 8.60372 15.8787 9C15.8787 9.39628 15.7219 9.77645 15.4425 10.0575V10.0575Z" stroke="#3C4E5D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M5.25 5.25H5.26" stroke="#3C4E5D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </i>
                                <p>
                                    Manage Tags
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="test-history.html" class="nav-link active">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path d="M14.25 2.25H3.75C2.92157 2.25 2.25 2.92157 2.25 3.75V14.25C2.25 15.0784 2.92157 15.75 3.75 15.75H14.25C15.0784 15.75 15.75 15.0784 15.75 14.25V3.75C15.75 2.92157 15.0784 2.25 14.25 2.25Z" stroke="#3C4E5D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M2.25 6.75H15.75" stroke="#3C4E5D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M6.75 15.75V6.75" stroke="#3C4E5D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </i>
                                <p>
                                    Data Templates
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="test-history.html" class="nav-link">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path d="M14.25 2.25H3.75C2.92157 2.25 2.25 2.92157 2.25 3.75V14.25C2.25 15.0784 2.92157 15.75 3.75 15.75H14.25C15.0784 15.75 15.75 15.0784 15.75 14.25V3.75C15.75 2.92157 15.0784 2.25 14.25 2.25Z" stroke="#3C4E5D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M6.375 7.5C6.99632 7.5 7.5 6.99632 7.5 6.375C7.5 5.75368 6.99632 5.25 6.375 5.25C5.75368 5.25 5.25 5.75368 5.25 6.375C5.25 6.99632 5.75368 7.5 6.375 7.5Z" stroke="#3C4E5D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M15.75 11.25L12 7.5L3.75 15.75" stroke="#3C4E5D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </i>
                                <p>
                                    Media Library
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->

            <!-- Powered -->
            <div class="powered-logo">
                <img src="dist/img/scora-logo/scora-icon.svg" alt="scora Logo" class="brand-icon">
                <img src="dist/img/scora-logo/scora-powerd-logo.svg" alt="scora Logo" class="brand-logo">
            </div>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content p-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header p-4">
                                    <h3 class="card-title">Data Templates</h3>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="custom-table v-top">
                                            <thead>
                                                <tr>
                                                    <th>Template Name</th>
                                                    <th>Version</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Match Items Mapping Data
                                                    </td>
                                                    <td>v21.09.1</td>
                                                    <td>
                                                      <a href="../../../../assets/file/match-items-mapping-template.xlsx" class="download">
                                                            <img src="../../../assets/img/download.png" alt="">
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                  <td>Items Data</td>
                                                  <td>v21.09.1</td>
                                                  <td> 
                                                    <a href="../../../../assets/file/Scora Bulk Items Import Template - V2.xlsx" class="download">
                                                          <img src="../../../assets/img/download.png" alt="">
                                                      </a>
                                                  </td>
                                              </tr>
                                               
                                            </tbody>
                                        </table>

                                        <div class="pagination-custom mb-4">
                                          <ul>
                                            <li>
                                                <a  class="disable"><i class="fa fa-angle-left"></i></a>
                                            </li>
                                            <li>
                                                <a class="active">1</a>
                                            </li>
                                            <li>
                                                <a ><i class="fa fa-angle-right"></i></a>
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        <!-- <footer class="main-footer">
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.1.0
            </div>
        </footer> -->
    </div>
    <!-- ./wrapper -->
