<div class="modal fade in" id="myModal" role="dialog" style="display: block; padding-left: 17px;z-index: 9999 !important;background: rgba(255, 255, 255, 0.611764705882353);">
    <!-- Modal content-->
     <!-- <div [ngClass]="{takefullplace:loader}" style="text-align:center">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
          </div>
    </div> -->

    <div  style="text-align:center">
        <!-- <div class="loader"></div> -->
        <div class="">
            <p style="text-align:center;position: absolute;left: 50%;top: 40%;"><img src="../../../assets/img/without-Bg.gif" alt="" class="gifLoader"></p>
        </div>
    </div>
</div>
