.header{
    margin: 9px 10px;
    width: 100%;
}
.headerLine{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.uploadPos{
    position: absolute;
    top: 43%;
    left: 43%;
}

.btn{
    transition: ease-in 0.25s;
}
.fileUploadExcel{
    // position: relative;
    // overflow: hidden;
    // margin-left: -23px;
    // padding: 5px 18px;
    border-radius: 5px;
    padding: 28px 113px;
    margin-top: 12px;
    cursor: pointer !important;
    border: 2px dashed #00aed9;
    position: relative;


}
.fileUploadExcel input.upload {
    position: absolute;
    /* top: 0; */
    /* right: 0; */
    /* margin: 0; */
    /* padding: 0; */
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    left: 0px;
    width: 100%;
    padding: 0px;
    height: 100%;
    top: 0%;
}
.fileUploadExcel  span{
    font-size: 16px;
}
.fileUploadExcel:hover{
    background: #00aed9;
    border: 2px dashed #fff;
    color: white;

}
.alertMSg{
    color: rgb(245, 38, 38);
    text-align: center;
}

.noteMsg{
    width: 100%;
    text-align: center;
    margin: 30px 0px;
    font-size: 14px;
}
.noteMsg span{
    color: #d90028;
    font-weight: 600;
}
.dropdown-menu li{
    text-align: center;
    padding: 5px;
}

.dropdown-menu li:hover {
  text-align: center;
  padding: 5px;
  background: #f7f7f7;
}

.dropdown-toggle{
    background: transparent;
    border: none;
    color: #00aed9;
}
.contentbtn button::after{
    content: ' \25BE';
}


// new css

.jobFileUploadDiv{
    width: 50%;
    margin: 10% auto;
    border: 1px solid #dbe7f1;
    background: aliceblue;
    padding: 50px 10px;
    // margin-top: 10%;
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,.2) !important;
}
.lable{
    margin: 17px 0px;
}
.lable p{
    margin: 0px;
    text-align: right;
    line-height: 2.5;
}
select{
    border-radius: 5px;
}

.fileUploadExcelJOB{
    border-radius: 3px;
    padding: 10px 35px;
    margin-top: 12px;
    cursor: pointer;
    border: 2px dashed #00aed9;
    // position: relative;
}
.fileUploadExcelJOB:hover{
    background: #00aed9;
    border: 2px dashed #fff;
    color:#fff;
}
.btn:disabled{
    cursor: not-allowed;
}
.fileUploadExcelJOB span {
    font-size: 14px;
}
.fileUploadExcelJOB input.upload {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    left: 0px;
    width: 100%;
    padding: 0px;
    height: 100%;
    top: 0%;
}
.btnp{
    margin: 7px 30px;
    text-align: right;
    cursor: pointer;
    display: flex;
    float: right;

}
.btnp button{
    padding: 0px 10px;
    cursor: pointer;

    height: 26px;
    margin-top: 6px;

}
input:disabled{
    cursor: not-allowed !important;
}

.dropdown-menu a:hover{
    text-decoration: none;
}
.dropClass{
    padding: 10px;
    text-align: center;
}
.dropClass a{
    display: block;
}

p._uploadMsg {
  position: absolute;
  left: 43%;
  top: 52%;
  z-index: 9999;
  font-size: 20px;
}
