.customContainer {
    max-height: 30px;
    overflow: hidden;
  }
  
  .show {
    overflow: visible;
    max-height: fit-content;
  }

  a.disabled {
    pointer-events: none;
    cursor: not-allowed; 
  }

  .tablecell:hover::before .addSub {
    display: block;
  }
  .tablerow:hover .addSub  {
    display: block;
  }
  .tablecell:hover::before .deleteSub {
    display: block;
  }
  .tablerow:hover .deleteSub  {
    display: block;
  }

  .addSub, .deleteSub, .addMain, .deleteMain{
    display: none;
  }

  .tableHead:hover .addMain{
    display:block;
  }

  .tableHead:hover .deleteMain{
    display:block;
  }