<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <div class="content p-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header p-4">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="card-title">
                                        <a href=""><i class="fa fa-angle-left mr-2"></i> Rubrics</a>
                                        <select name="" id="" class="select ml-2">
                                            <option value="">Version V2.1</option>
                                        </select>
                                    </h3>
                                </div>

                                <div class="col-md-9 text-right">
                                    <a href="" class="take-test">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="questions mb-4">
                                <div class="hd font-weight-bold mb-2">Question
                                    <div class="float-right">
                                        <a href=""><img src="dist/img/author-icons/tag-icon.svg" alt=""></a>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consec adipiscing At vero eos et accusamus et iusto odio
                                    dignissimos ducimus qui blanditiis adipiscing praesentium voluptatum deleniti atque
                                    corrupti quos dolores et quas moles excepturi
                                    sint occaecati cupiditate tempo dignissimos... </p>
                                <p class="text-right"><a href="" class="take-test">View More</a></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="p-2">
                                        <table class="rubic-table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="primary">Max Points: 3.00</div>
                                                    </th>
                                                    <th>Bad</th>
                                                    <th>Nice</th>
                                                    <th>Good</th>
                                                    <th>Excellent</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="2"><span
                                                            class="bold text-center d-block">Clarity</span></td>
                                                    <td>Sed ut perspiciatis unde omnis iste natus error sit lorem ipsum.
                                                    </td>
                                                    <td>Qui dolorem ipsum quia dolor sit amet, consectetur.</td>
                                                    <td>Adipisci velit, sed quia non numquam eius modi.</td>
                                                    <td>Ut enim ad minima veniam, quis nostrum exercitationem</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="points">
                                                            <span class="left">Points</span>
                                                            <span class="right"><input type="text" class="form-control"
                                                                    value="0.00"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="points">
                                                            <span class="left">Points</span>
                                                            <span class="right"><input type="text" class="form-control"
                                                                    value="0.00"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="points">
                                                            <span class="left">Points</span>
                                                            <span class="right"><input type="text" class="form-control"
                                                                    value="0.00"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="points">
                                                            <span class="left">Points</span>
                                                            <span class="right"><input type="text" class="form-control"
                                                                    value="0.00"></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="2"><span
                                                            class="bold text-center d-block">Language</span></td>
                                                    <td>Sed ut perspiciatis unde omnis iste natus error sit lorem ipsum.
                                                    </td>
                                                    <td>Qui dolorem ipsum quia dolor sit amet, consectetur.</td>
                                                    <td>Adipisci velit, sed quia non numquam eius modi.</td>
                                                    <td>Ut enim ad minima veniam, quis nostrum exercitationem</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="points">
                                                            <span class="left">Points</span>
                                                            <span class="right"><input type="text" class="form-control"
                                                                    value="0.00"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="points">
                                                            <span class="left">Points</span>
                                                            <span class="right"><input type="text" class="form-control"
                                                                    value="0.00"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="points">
                                                            <span class="left">Points</span>
                                                            <span class="right"><input type="text" class="form-control"
                                                                    value="0.00"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="points">
                                                            <span class="left">Points</span>
                                                            <span class="right"><input type="text" class="form-control"
                                                                    value="0.00"></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="keyword"><span class="bold">Keywords:</span> Noun, Grammar</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card -->
                </div>

                <!-- Col-md-12 -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body pl-3 pr-3">
                            <a href="" class="skip-btn">Cancel</a>
                            <a href="" class="default-btn float-right">Use this Version</a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->